



<section>
  <div class="div">
    <div class="div-header">
      Organizer: <strong>{{dateService.date | async | moment: 'DD.MM.YYYY' }}</strong>
    </div>
  </div>

  <main>
    <ul *ngIf="tasks.length; else noTask">
    <li class="task" *ngFor="let task of tasks; let i = index">
      <span>
        <strong>{{i + 1}}</strong>
        {{task.title}}
      </span>
     <i class="primary material-icons" (click)="remove(task)">delete</i>
    </li>
    </ul>
    <ng-template #noTask>
      <p class="text-center">No task this day</p>
    </ng-template>
  </main>
  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="title" placeholder="New Task">
      <button type="submit" [disabled]="form.invalid"
      class="btn btn-primary btn-block">Add</button>
    </form>
  </footer>
</section>
