div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(60deg, #f5700c, #ff9800);
    border-radius: 7px;
  width: 25%;
    span {
      margin: 0 2rem;
      text-align: center;
      width: 200px;
    }
    i {
      cursor: pointer;
    }
  }
  .act {
    font-weight: bold;
  }


}
