
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
:root {
  --primary-color: #dc3545;
  --light-color: #f4f4f4;

}


* {
  margin: 0;
  paddin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #fff;
  background: #1a2035;
}
a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: #666;
  }
}


.container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}


.text-center {
  text-align: center;
}

